{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module",
  },
  "env": {
    "browser": true,
    "node": true
  }
}
